/* @import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Outfit:wght@100..900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Baumans&family=Eagle+Lake&family=Outfit:wght@100..900&display=swap");

/* Custom CSS */
.font-audiowide {
  font-family: "Audiowide", sans-serif;
}
.scale {
  transform: "scale(0.25)";
}
.font-Baumans {
  font-family: "Baumans", system-ui;
  /* font-family: "Eagle Lake", serif; */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* animate-fade-in fade-in */
.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
